.sidebar {
}

.sidebar.open {
}

.background {
}
.nav {
  display: flex;
  flex-direction: column;
}

.nav a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin: 35px;
}

.nav a:hover {
  color: #58acff;
}
.nav a:active {
  color: #3d6b99;
}
.nav a.active {
  text-decoration-line: underline;
  color: #0059b2;
}
.close {
}

.close img {
}
