.App {
  --header_height: 60px;
}

.hw {
}

.hwTitle {
  width: 169px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;

  color: #000000;
}
